<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css" />
    <script src="js/sweetalert2.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/jquery.mCustomScrollbar.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <!-- Main container -->
    <main class="full-box main-container">
      <!-- Nav lateral -->
      <%- include('../views/partials/sectionLateral') %>

      <!-- Page content -->

      <section class="full-box page-content scroll">
        <!-- seccion info -->
        <%- include('../views/partials/navbar-info') %>
        <div class="full-box page-header">
          <h3 class="text-left text-uppercase">
            <i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de cajas
          </h3>
          <p class="text-justify">
            En el módulo CAJA usted podrá registrar cajas de ventas en el
            sistema para poder realizar ventas, además podrá actualizar los
            datos de las cajas de venta, realizar búsquedas de cajas o
            eliminarlas si lo desea.
          </p>
        </div>

        <div class="container-fluid">
          <ul class="full-box list-unstyled page-nav-tabs text-uppercase">
            <li>
              <a href="cashier-new">
                <i class="fas fa-cash-register fa-fw"></i> &nbsp; Nueva caja
              </a>
            </li>
            <li>
              <a class="active" href="cashier-list">
                <i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de
                cajas
              </a>
            </li>
            <li>
              <a href="cashier-search">
                <i class="fas fa-search fa-fw"></i> &nbsp; Buscar caja
              </a>
            </li>
          </ul>
        </div>

        <div class="container-fluid">
          <div class="table-responsive">
            <table id="cajas" class="table  table-sm">
              <thead class="table-dark">
                <tr class="text-center roboto-medium">
                  <th>NUMERO DE CAJA</th>
                  <th>NOMBRE / CODIGO</th>
                  <th>EFECTIVO</th>
                  <th>ESTADO</th>
                  <th>ACTUALIZAR</th>
                  <th>ELIMINAR</th>
                </tr>
              </thead>
              <tbody>
                <!-- bloque para replicar -->
                <% data.forEach((objeto)=> { %>
                <tr class="text-center">
                  <td><%= objeto.idCajas %></td>
                  <td><%= objeto.NombreCaja %></td>
                  <td><%= objeto.Efectivo %></td>
                  <td><%= objeto.Estado %></td>
                  <td>
                    <a
                      class="btn btn-success"
                      href="cashier-update/<%= objeto.idCajas %>"
                    >
                      <i class="fas fa-sync fa-fw"></i>
                    </a>
                  </td>
                  <td>
                    <form
                      class="FormularioAjax"
                      action="/eliminarCaja"
                      method="POST"
                      data-form="delete"
                      autocomplete="off"
					  name="formulario_eliminar"
                    >
                      <input
                        type="hidden"
                        name="idCajas"
                        value="<%= objeto.idCajas %>"
                      />
                      <button
                        type="submit"
                        class="btn btn-warning"
                        onclick="confirmar(<%= objeto.idCajas %>)"
                      >
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      $(document).ready(function () {
        $("#cajas").DataTable();
      });

      function confirmar(id) {
        Swal.fire({
          position: "top-end",
          icon: "success",
          title: "Usted ha eliminado una caja",
          timer: 99999999,
          showConfirmButton: false,
        });
      }
    </script>
    
    <script src="/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/bootstrap-material-design.min.js"></script>
    
    <script>
      $(document).ready(function () {
        $("body").bootstrapMaterialDesign();
      });

      $(document).ready( function () {
        $('#cajas').DataTable();
    } );
    </script>
    
    <script src="/js/main.js"></script>
  </body>
</html>
