<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css">
	<script src="/js/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->
		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-sync fa-fw"></i> &nbsp; Actualizar producto
				</h3>
				<p class="text-justify">
					En el módulo PRODUCTOS podrá agregar nuevos productos al sistema, actualizar datos de los productos, eliminar
					o actualizar la imagen de los productos, imprimir códigos de barras o SKU de cada producto, buscar productos
					en el sistema, ver todos los productos en almacén, ver los productos más vendido y filtrar productos por
					categoría.
				</p>
			</div>
			
			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="/product-new">
							<i class="fas fa-box fa-fw"></i> &nbsp; Nuevo producto
						</a>
					</li>
					<li>
						<a href="/product-list">
							<i class="fas fa-boxes fa-fw"></i> &nbsp; Productos en almacen
						</a>
					</li>
					<li>
						<a href="/product-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar productos
						</a>
					</li>
				</ul>
			</div>
			<% if (objeto) { %> 
			<div class="container-fluid">
				<p class="text-right"><a href="/product-list" class="btn btn-raised btn-info btn-go-back"><i class="fas fa-reply"></i>
						&nbsp; Regresar atrás</a></p>
				<form class="form-neon" action="/updateProducto"
					method="POST" data-form="update" autocomplete="off">
					<input type="hidden" name="idProducto" value="<%= objeto.idProducto %>">
					<h3 class="text-center text-info"><%= objeto.Nombre %></h3>
					<hr>
					<fieldset>
						<legend><i class="fas fa-barcode"></i> &nbsp; Código SKU</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="SKU" class="bmd-label-floating">SKU</label>
										<input type="text" pattern="[a-zA-Z0-9- ]{1,70}" class="form-control" name="SKU"
											value="<%= objeto.SKU %>" id="SKU" maxlength="70">
									</div>
								</div>
								
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-box"></i> &nbsp; Información del producto</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="form-group bmd-form-group is-filled">
										<label for="Nombre" class="bmd-label-floating">Nombre &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,$#\- ]{1,97}" class="form-control"
											name="Nombre" value="<%= objeto.Nombre %>" id="Nombre" maxlength="97">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="Stock" class="bmd-label-floating">Stock o existencias &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,20}" class="form-control" name="Stock"
											value="<%= objeto.Stock %>" id="Stock" maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="Stock_minimo" class="bmd-label-floating">Stock mínimo &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,9}" class="form-control" name="Stock_minimo"
											value="<%= objeto.Stock_minimo %>" id="Stock_minimo" maxlength="9">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="PresentacionProducto" class="bmd-label-floating">Presentación del producto &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="PresentacionProducto" id="PresentacionProducto">
											<option <%= objeto.PresentacionProducto =='Unidad' ? "selected" :'' %> value="Unidad">1 - Unidad</option>
											<option <%= objeto.PresentacionProducto =='Libra' ? "selected" :'' %> value="Libra">2 - Libra</option>
											<option <%= objeto.PresentacionProducto =='Kilogramo' ? "selected" :'' %> value="Kilogramo">3 - Kilogramo</option>
											<option <%= objeto.PresentacionProducto =='CAJA' ? "selected" :'' %> value="Caja">4 - Caja</option>
											<option <%= objeto.PresentacionProducto =='Paquete' ? "selected" :'' %> value="Paquete">5 - Paquete</option>
											<option <%= objeto.PresentacionProducto =='Lata' ? "selected" :'' %> value="Lata">6 - Lata</option>
											<option <%= objeto.PresentacionProducto =='Galon' ? "selected" :'' %> value="Galon">7 - Galon</option>
											<option <%= objeto.PresentacionProducto =='Botella' ? "selected" :'' %> value="Botella">8 - Botella</option>
											<option <%= objeto.PresentacionProducto =='Tira' ? "selected" :'' %> value="Tira">9 - Tira</option>
											<option <%= objeto.PresentacionProducto =='Sobre' ? "selected" :'' %> value="Sobre">10 - Sobre</option>
											<option <%= objeto.PresentacionProducto =='Bolsa' ? "selected" :'' %> value="Bolsa">11 - Bolsa</option>
											<option <%= objeto.PresentacionProducto =='Saco' ? "selected" :'' %> value="Saco">12 - Saco</option>
											<option <%= objeto.PresentacionProducto =='Tarjeta' ? "selected" :'' %> value="Tarjeta">13 - Tarjeta</option>
											<option <%= objeto.PresentacionProducto =='Otro' ? "selected" :'' %> value="Otro">14 - Otro</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="PrecioCompra" class="bmd-label-floating">Precio de compra (Con impuesto
											incluido) &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9.]{1,25}" class="form-control" name="PrecioCompra"
											value="<%= objeto.PrecioCompra %>" id="PrecioCompra" maxlength="25">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="Precioventa" class="bmd-label-floating">Precio de venta (Con impuesto
											incluido) &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9.]{1,25}" class="form-control" name="Precioventa"
											value="<%= objeto.Precioventa %>" id="Precioventa" maxlength="25">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="PrecioVentaMayoreo" class="bmd-label-floating">Precio de venta por mayoreo
											(Con impuesto incluido) &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9.]{1,25}" class="form-control"
											name="PrecioVentaMayoreo" value="<%= objeto.PrecioVentaMayoreo %>" id="PrecioVentaMayoreo"
											maxlength="25">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="Descuento" class="bmd-label-floating">Descuento (%) en venta &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="number" step="0.01" class="form-control" name="Descuento" value="<%= objeto.Descuento %>"
											id="Descuento" maxlength="2">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="Marca" class="bmd-label-floating">Marca</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,#\- ]{1,30}"
											class="form-control input-barcode" name="Marca" value="<%= objeto.Marca %>" id="Marca"
											maxlength="30">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-calendar-alt"></i> &nbsp; Vencimiento del producto</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<div class="radio">
											<label>
												<input type="radio" name="Vence" value="<%= objeto.Vence %>" <%= objeto.Vence =='Si' ? "checked" :'' %>><span class="bmd-radio"></span>
												<i class="far fa-check-circle fa-fw"></i> &nbsp; Si vence
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="Vence" value="<%= objeto.Vence %>" <%= objeto.Vence =='No' ? "checked" :'' %>><span
													class="bmd-radio"></span>
												<i class="far fa-times-circle fa-fw"></i> &nbsp; No vence
											</label>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="FechaVencimiento" class="bmd-label-static">Fecha de vencimiento
											(día/mes/año)</label>
										<input type="date" class="form-control" name="FechaVencimiento"
											id="FechaVencimiento" maxlength="30" value="<%= objeto.FechaVencimiento %>">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-history"></i> &nbsp; Garantía de fabrica</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="Garantia" class="bmd-label-floating">Unidad de tiempo &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,2}" class="form-control input-barcode"
											name="Garantia" id="Garantia" maxlength="2" value="<%= objeto.Garantia %>">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="TiempoGarantia" class="bmd-label-floating">Tiempo de garantía &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="TiempoGarantia" id="TiempoGarantia">
											<option  <%= objeto.TiempoGarantia =='Dias' ? "selected" :'' %> value="Dias">2 - Dias</option>
											<option  <%= objeto.TiempoGarantia =='Semanas' ? "selected" :'' %> value="Semanas">3 - Semanas</option>
											<option  <%= objeto.TiempoGarantia =='Mes' ? "selected" :'' %> value="Mes">4 - Mes</option>
											<option  <%= objeto.TiempoGarantia =='Meses' ? "selected" :'' %> value="Meses">5 - Meses</option>
											<option  <%= objeto.TiempoGarantia =='Año' ? "selected" :'' %> value="Año">6 - Año</option>
											<option  <%= objeto.TiempoGarantia =='Años' ? "selected" :'' %> value="Años">7 - Años</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-truck-loading"></i> &nbsp; Proveedor, categoría &amp; estado</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="idProveedor" class="bmd-label-floating">Proveedor &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="idProveedor" id="idProveedor">
											<% proveedor.forEach((prov)=> { %>
											<option <%= objeto.idProveedor == prov.idProveedor ? "selected" :'' %> value="<%= prov.idProveedor %>"><%= prov.idProveedor %> - <%= prov.Nombre %></option>
											<% }) %>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="idCategoria" class="bmd-label-floating">Categoría &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="idCategoria" id="idCategoria">
											<% categoria.forEach((cat)=> { %>
											<option <%= objeto.idCategoria == cat.idCategoria ? "selected" :'' %> value="<%= cat.idCategoria %>"><%= cat.idCategoria %> - <%= cat.Nombre %></option>
											<% }) %>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="idEstado" class="bmd-label-floating">Estado del producto</label>
										<select class="form-control" name="idEstado" id="idEstado">
											<option <%= objeto.idEstado =='1' ? "selected" :'' %> value="1">1 - Habilitado</option>
											<option <%= objeto.idEstado =='2' ? "selected" :'' %> value="2">2 - Deshabilitado</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<p class="text-center" style="margin-top: 40px;">
						<button type="submit" class="btn btn-raised btn-success btn-sm"><i class="fas fa-sync"></i> &nbsp;
							ACTUALIZAR</button>
					</p>
					<p class="text-center">
						<small>Los campos marcados con &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp; son
							obligatorios</small>
					</p>
				</form>
				
			</div>
			<% } %>
		</section>
	</main>


	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="/js/main.js"></script>

</body>

</html>