<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" tyoe="text/css" href="css/normalize.css">
	<link rel="stylesheet" tyoe="text/css" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" tyoe="text/css" href="css/bootstrap-material-design.min.css"> -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
	<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
	<link rel="stylesheet" tyoe="text/css" href="css/all.css">
	<link rel="stylesheet" tyoe="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" tyoe="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" tyoe="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->
		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-boxes fa-fw"></i> &nbsp; Productos en almacen
				</h3>
				<p class="text-justify">
					En el módulo PRODUCTOS podrá agregar nuevos productos al sistema, actualizar datos de los productos, eliminar
					o actualizar la imagen de los productos, imprimir códigos de barras o SKU de cada producto, buscar productos
					en el sistema, ver todos los productos en almacén, ver los productos más vendido y filtrar productos por
					categoría.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a href="/product-new">
							<i class="fas fa-box fa-fw"></i> &nbsp; Nuevo producto
						</a>
					</li>
					<li>
						<a class="active" href="/product-list">
							<i class="fas fa-boxes fa-fw"></i> &nbsp; Productos en almacen
						</a>
					</li>
					<!-- <li>
						<a href="product-sold">
							<i class="fas fa-fire-alt fa-fw"></i> &nbsp; Lo más vendido
						</a>
					</li> -->
					<li>
						<a href="/product-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar productos
						</a>
					</li>
				</ul>
			</div>

			<div id="productos" class="container-fluid" style="background-color: #FFF; padding-bottom: 20px;">
				<ul class="list-unstyled" style="padding: 5px;">
					<!-- bloque para replicar -->
					<% data.forEach((objeto)=> { %>
					<li class="media media-product border"><img width="180px" class="mr-3 img-fluid img-product-list"
							src="<%= objeto.Imagen %>" alt="imagen_producto">
						<div class="media-body product-media-body">
							<p class="text-uppercase text-center media-product-title"><%= objeto.idProducto %><strong> - <%= objeto.Nombre %></strong></p>
							<div class="container-fluid">
								<div class="row">
									

									<div class="col-12 col-md-6 col-lg-3 col-product"><i class="fas fa-barcode"></i> <strong>SKU:</strong>
										<%= objeto.SKU %></div>

									<div class="col-12 col-md-6 col-lg-3 col-product"><i class="far fa-money-bill-alt"></i>
										<strong>Precio:</strong> <%= objeto.Precioventa %> <span class="badge badge-success"><%= objeto.Descuento %> % de descuento</span></div>
									<div class="col-12 col-md-6 col-lg-3 col-product"><i class="fas fa-clipboard-check"></i>
										<strong>Estado:</strong> <%= objeto.Estado %></div>

									<div class="col-12 col-md-6 col-lg-3 col-product"><i class="fas fa-box"></i>
										<strong>Disponibles:</strong> <%= objeto.Stock %></div>
									
									<div class="col-12 col-md-6 col-lg-3 col-product"><i class="fas fa-calendar-alt"></i>
										<strong>Vencimiento:</strong> <%= objeto.Vence %></div>
								</div>
							</div>
							<div class="text-right media-product-options">
								<span><i class="fas fa-tools"></i> &nbsp; OPCIONES: </span>
								<a href=""
									class="btn btn-info" data-toggle="popover" data-trigger="hover" data-placement="top"
									data-content="Información detallada" data-original-title="" title="">
									<i class="fas fa-box-open"></i>
								</a>
								<a href="product-update/<%= objeto.idProducto %>"
									class="btn btn-success" data-toggle="popover" data-trigger="hover" data-placement="top"
									data-content="Actualizar producto" data-original-title="" title="">
									<i class="fas fa-sync"></i>
								</a>
								<form class="btn form-product"
									action="/eliminarProducto" method="POST" data-form="delete"
									autocomplete="off" id="idProducto">
									<input type="hidden" name="idProducto" value="<%= objeto.idProducto %>">
										<button onclick="confirmar(<%= objeto.idProveedor %>)" type="submit" class="btn btn-warning" data-toggle="popover" data-trigger="hover"
										data-placement="top" data-content="Eliminar producto" data-original-title="" title="">
										<i class="far fa-trash-alt"></i>
									</button>

								</form>
							</div>
						</div>
					</li>
					<% }) %>
				</ul>
				<p class="text-right">Mostrando productos <strong>1</strong> al <strong>15</strong> de un <strong>total de
						233</strong></p>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
						<li class="page-item"><a class="page-link active"
								href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">3</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">4</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">5</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">6</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">7</a>
						</li>
						<li class="page-item"><a class="page-link"
								href="#">Siguiente</a></li>
						<li class="page-item"><a class="page-link" href="#"><i
									class="fas fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</section>

	</main>


	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/bootstrap-material-design.min.js"></script>
	
	<script>
		$(document).ready(function () {
		  $("body").bootstrapMaterialDesign();
		});
		

		function confirmar(id) {
			Swal.fire({
			  position: "top-end",
			  icon: "success",
			  title: "Usted ha eliminado un producto",
			  timer: 99999999,
			  showConfirmButton: false,
			});
		  }
		/*$(document).ready( function () {
		  $('#productos').DataTable();
	  } );*/
	  </script>
	<script src="js/main.js"></script>

</body>

</html>