<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/sweetalert2.min.css">
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<%- include('../views/partials/sectionLateral') %>

		<!-- Page content -->

		<section class="full-box page-content scroll">
			<!-- seccion info -->
			<%- include('../views/partials/navbar-info') %>
			<div class="full-box page-header">
				<h3 class="text-left text-uppercase">
					<i class="fas fa-box fa-fw"></i> &nbsp; Nuevo producto
				</h3>
				<p class="text-justify">
					En el módulo PRODUCTOS podrá agregar nuevos productos al sistema, actualizar datos de los productos, eliminar
					o actualizar la imagen de los productos, imprimir códigos de barras o SKU de cada producto, buscar productos
					en el sistema, ver todos los productos en almacén, ver los productos más vendido y filtrar productos por
					categoría.
				</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs text-uppercase">
					<li>
						<a class="active" href="product-new">
							<i class="fas fa-box fa-fw"></i> &nbsp; Nuevo producto
						</a>
					</li>
					<li>
						<a href="product-list">
							<i class="fas fa-boxes fa-fw"></i> &nbsp; Productos en almacen
						</a>
					</li>
					<li>
						<a href="product-sold">
							<i class="fas fa-fire-alt fa-fw"></i> &nbsp; Lo más vendido
						</a>
					</li>
					<li>
						<a href="product-search">
							<i class="fas fa-search fa-fw"></i> &nbsp; Buscar productos
						</a>
					</li>
				</ul>
			</div>

			<div class="container-fluid">
				<form class="form-neon FormularioAjax" action="http://systems.designlopers.com/SVI/ajax/productoAjax.php"
					method="POST" data-form="save" autocomplete="off" enctype="multipart/form-data">
					<input type="hidden" name="modulo_producto" value="registrar">
					<fieldset>
						<legend><i class="fas fa-barcode"></i> &nbsp;SKU</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group">
										<label for="producto_sku" class="bmd-label-floating">SKU</label>
										<input type="text" pattern="[a-zA-Z0-9- ]{1,70}" class="form-control input-barcode"
											name="producto_sku_reg" id="producto_sku" maxlength="70">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-box"></i> &nbsp; Información del producto</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="form-group bmd-form-group">
										<label for="producto_nombre" class="bmd-label-floating">Nombre &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,$#\- ]{1,97}"
											class="form-control input-barcode" name="producto_nombre_reg" id="producto_nombre" maxlength="97">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="producto_stock_total" class="bmd-label-floating">Stock o existencias &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,20}" class="form-control" name="producto_stock_total_reg"
											id="producto_stock_total" maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group">
										<label for="producto_stock_minimo" class="bmd-label-floating">Stock mínimo &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,9}" class="form-control" name="producto_stock_minimo_reg"
											id="producto_stock_minimo" maxlength="9">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_unidad" class="bmd-label-floating">Presentación del producto &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="producto_unidad_reg" id="producto_unidad">
											<option value="" selected="">Seleccione una opción</option>
											<option value="Unidad">1 - Unidad</option>
											<option value="Libra">2 - Libra</option>
											<option value="Kilogramo">3 - Kilogramo</option>
											<option value="Caja">4 - Caja</option>
											<option value="Paquete">5 - Paquete</option>
											<option value="Lata">6 - Lata</option>
											<option value="Galon">7 - Galon</option>
											<option value="Botella">8 - Botella</option>
											<option value="Tira">9 - Tira</option>
											<option value="Sobre">10 - Sobre</option>
											<option value="Bolsa">11 - Bolsa</option>
											<option value="Saco">12 - Saco</option>
											<option value="Tarjeta">13 - Tarjeta</option>
											<option value="Otro">14 - Otro</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_precio_compra" class="bmd-label-floating">Precio de compra (Con impuesto
											incluido) &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9.]{1,25}" class="form-control" name="producto_precio_compra_reg"
											value="0.00" id="producto_precio_compra" maxlength="25">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_precio_venta" class="bmd-label-floating">Precio de venta (Con impuesto
											incluido) &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9.]{1,25}" class="form-control" name="producto_precio_venta_reg"
											value="0.00" id="producto_precio_venta" maxlength="25">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_precio_venta_mayoreo" class="bmd-label-floating">Precio de venta por mayoreo
											(Con impuesto incluido) &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9.]{1,25}" class="form-control"
											name="producto_precio_venta_mayoreo_reg" value="0.00" id="producto_precio_venta_mayoreo"
											maxlength="25">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_descuento" class="bmd-label-floating">Descuento (%) en venta &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,2}" class="form-control" name="producto_descuento_reg" value="0"
											id="producto_descuento" maxlength="2">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group">
										<label for="producto_marca" class="bmd-label-floating">Marca</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,#\- ]{1,30}"
											class="form-control input-barcode" name="producto_marca_reg" id="producto_marca" maxlength="30">
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="form-group bmd-form-group">
										<label for="producto_modelo" class="bmd-label-floating">Modelo</label>
										<input type="text" pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ().,#\- ]{1,30}"
											class="form-control input-barcode" name="producto_modelo_reg" id="producto_modelo" maxlength="30">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-calendar-alt"></i> &nbsp; Vencimiento del producto</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<div class="radio">
											<label>
												<input type="radio" name="producto_vencimiento_reg" value="Si"><span class="bmd-radio"></span>
												<i class="far fa-check-circle fa-fw"></i> &nbsp; Si vence
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="producto_vencimiento_reg" value="No" checked=""><span
													class="bmd-radio"></span>
												<i class="far fa-times-circle fa-fw"></i> &nbsp; No vence
											</label>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_fecha_vencimiento" class="bmd-label-static">Fecha de vencimiento
											(día/mes/año)</label>
										<input type="date" class="form-control" name="producto_fecha_vencimiento_reg"
											id="producto_fecha_vencimiento" maxlength="30" value="2021-11-26">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-history"></i> &nbsp; Garantía de fabrica</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_garantia_unidad" class="bmd-label-floating">Unidad de tiempo &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<input type="text" pattern="[0-9]{1,2}" class="form-control input-barcode"
											name="producto_garantia_unidad_reg" id="producto_garantia_unidad" maxlength="2" value="0">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_garantia_tiempo" class="bmd-label-floating">Tiempo de garantía &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="producto_garantia_tiempo_reg" id="producto_garantia_tiempo">
											<option value="N/A">1 - N/A</option>
											<option value="Dias">2 - Dias</option>
											<option value="Semanas">3 - Semanas</option>
											<option value="Mes">4 - Mes</option>
											<option value="Meses">5 - Meses</option>
											<option value="Año">6 - Año</option>
											<option value="Años">7 - Años</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<fieldset>
						<legend><i class="fas fa-truck-loading"></i> &nbsp; Proveedor, categoría &amp; estado</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_proveedor" class="bmd-label-floating">Proveedor &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="producto_proveedor_reg" id="producto_proveedor">
											<option value="" selected="">Seleccione una opción</option>
											<!-- <% proveedor.forEach((prov)=> { %>
											<option value="<%= prov.idCategoria %>"><%= prov.idCategoria %> - <%= prov.Nombre %></option>
											<% }) %> -->
											
										</select>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_categoria" class="bmd-label-floating">Categoría &nbsp; <i
												class="fab fa-font-awesome-alt"></i> &nbsp;</label>
										<select class="form-control" name="producto_categoria_reg" id="producto_categoria">
											<option value="" selected="">Seleccione una opción</option>
											<% data.forEach((objeto)=> { %>
											<option value="<%= objeto.idCategoria %>"><%= objeto.idCategoria %> - <%= objeto.Nombre %></option>
											<% }) %>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group bmd-form-group is-filled">
										<label for="producto_estado" class="bmd-label-floating">Estado del producto</label>
										<select class="form-control" name="producto_estado_reg" id="producto_estado">
											<option value="1" selected="">Habilitado</option>
											<option value="2">Deshabilitado</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<p class="text-center" style="margin-top: 40px;">
						<button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp;
							LIMPIAR</button>
						&nbsp; &nbsp;
						<button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp;
							GUARDAR</button>
					</p>
					<p class="text-center">
						<small>Los campos marcados con &nbsp; <i class="fab fa-font-awesome-alt"></i> &nbsp; son
							obligatorios</small>
					</p>
				</form>
			</div>
		</section>

	</main>


	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap-material-design.min.js"></script>
	<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
	<script src="js/main.js"></script>

</body>

</html>